,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,goalkeeper,clearance,block,dribble,foul_committed,foul_won,out,miscontrol,bad_behaviour,substitution
0,9f6e2ecf-6685-45df-a62e-c2db3090f6c1,1,1,00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0300039d-150d-41e4-b29a-76602ef002e6,2,1,00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,491e8901-7630-4cc8-b57b-937dddff2eaa,3,1,00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,757b85ad-ddfe-44d5-b893-c23a9fb709d8,4,1,00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,549567bd-36de-4ac8-b8dc-6b5d3f1e4be8,5,1,00:00:00.575,0,0,"{'id': 30, 'name': 'Pass'}",2,"{'id': 206, 'name': 'Deportivo Alav√©s'}","{'id': 9, 'name': 'From Kick Off'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3757,910d8478-49bf-4b05-9023-9af868c6222e,3758,2,00:46:41.185,91,41,"{'id': 17, 'name': 'Pressure'}",143,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3758,036c1a04-8d9b-40c0-8b35-780df67fab4d,3759,2,00:46:43.032,91,43,"{'id': 16, 'name': 'Shot'}",143,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3759,be34da5e-38ac-4c7b-8e65-813b2e70ffe5,3760,2,00:46:43.426,91,43,"{'id': 23, 'name': 'Goal Keeper'}",143,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}",...,"{'technique': {'id': 46, 'name': 'Standing'}, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3760,15ac0641-73da-4b58-bb73-a18934727eac,3761,2,00:47:31.061,92,31,"{'id': 34, 'name': 'Half End'}",143,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3761,57539da1-a939-4e34-be29-7408942de747,3762,2,00:47:31.061,92,31,"{'id': 34, 'name': 'Half End'}",143,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.to_csv("event.csv")